.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  font-size: 2.2rem;
}

.dashboard h2 span {
  color: hsl(0, 0%, 55%);
}

.dashboard p {
  color: #aaa;
  margin-bottom: 1rem;
}

.post_header,
.post_row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 10px;
}

.post_header span {
  margin-right: 8rem;
}

.post_header {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.post_row {
  align-items: center;
  border-bottom: 1px solid #eee;
}

.post_row p {
  color: black;
}

.post_row button,
.post_row a {
  margin: 0 5px;
  height: 30px;
  width: 100px;
  font-size: 0.7rem;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5rem;
}

.noposts a {
  padding: 10px 15px;
}
